[submodule "lib/google-fonts-complete"]
	path = lib/google-fonts-complete
	url = https://github.com/jonathantneal/google-fonts-complete.git
[submodule "lib/freetype.wasm"]
	path = lib/freetype.wasm
	url = https://github.com/shyndman/freetype.wasm
	branch = wasm-ft2143
